/* High Scores Section */
#history {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #1e293b;
    color: #f1f5f9;
  }
  
  tbody tr:hover {
    background-color: #cbd5e1;
  }
  